* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 40px;
}

.text h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container .spacer {
    height: 90vh;
    width: 100%;
}

.container img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0;
    transition: all ease 2.2s;
}

.container img.loaded {
    opacity: 1 !important;
}