* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

main {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url("./images/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0.55rem;
  overflow: hidden;
}
main .main-icons {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.55rem;
}
main .main-icons .icon {
  width: 4.75rem;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 0.35rem;
}
main .main-icons .icon img {
  width: 65%;
}
main .main-icons .icon p {
  font-size: 0.78rem;
  color: white;
  font-weight: 500;
}
main .main-icons .icon:hover {
  background-color: rgba(255, 255, 255, 0.137);
}
main div.taskbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.25rem 0.75rem;
  background: radial-gradient(rgba(1, 1, 59, 0.815), rgb(0, 0, 85), rgba(0, 0, 54, 0.815));
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  transform: translateY(2.5rem);
  transition: all ease 0.2s;
}
main div.taskbar .taskbar-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.2rem;
  border-radius: 2px;
  cursor: pointer;
}
main div.taskbar .taskbar-icon img {
  width: 1.75rem;
}
main div.taskbar .taskbar-icon:hover {
  background-color: rgba(255, 255, 255, 0.13);
}
main div.taskbar .left {
  display: flex;
  justify-content: start;
  align-items: center;
}
main div.taskbar .center {
  display: flex;
  flex-grow: 2;
  justify-content: center;
  align-items: center;
  gap: 0.35rem;
}
main div.taskbar .right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.22rem;
}
main div.taskbar .right .taskbar-icon {
  flex-direction: row;
  gap: 1rem;
}
main div.taskbar .right .taskbar-icon img {
  width: 0.95rem;
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
}
main div.taskbar .right .taskbar-icon .timer {
  margin-left: 0.25rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: 0.65rem;
}
main div.taskbar:hover {
  transform: translateY(0);
}
main .windows-panel {
  transform: translateY(120%);
  z-index: 5;
  transition: all ease-in 0.25s;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: normal;
  position: absolute;
  width: 45%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(19, 20, 19, 0.911);
  border-radius: 0.65rem;
  padding: 1rem;
  inset: 7% 27%;
  background: rgba(19, 18, 18, 0.719);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
main .windows-panel .icons-wrapper {
  width: 100%;
  padding: 0.75rem;
}
main .windows-panel .icons-wrapper .input-wrapper {
  position: relative;
  width: 100%;
}
main .windows-panel .icons-wrapper .input-wrapper img {
  position: absolute;
  width: 1.55rem;
  left: 6px;
  top: 4px;
}
main .windows-panel .icons-wrapper .input-wrapper input {
  width: 100%;
  padding: 0.55rem;
  padding-left: 2.5rem;
  border-radius: 1rem;
  border: none;
  background-color: rgba(24, 23, 23, 0.363);
}
main .windows-panel .icons-wrapper .text-btns {
  padding: 1.35rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
main .windows-panel .icons-wrapper .text-btns span {
  padding: 0.25rem;
  border-radius: 3px;
  cursor: pointer;
}
main .windows-panel .icons-wrapper .text-btns span:hover {
  background-color: rgba(255, 255, 255, 0.205);
}
main .windows-panel .icons-wrapper .icons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 1rem;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
main .windows-panel .icons-wrapper .icons .icon {
  display: flex;
  padding: 0.35rem 0.1rem;
  cursor: pointer;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all ease 0.28s;
}
main .windows-panel .icons-wrapper .icons .icon img {
  width: 2rem;
}
main .windows-panel .icons-wrapper .icons .icon span {
  font-size: 0.85rem;
}
main .windows-panel .icons-wrapper .icons .icon:hover {
  background-color: rgba(255, 255, 255, 0.274);
}
main .windows-panel .icons-wrapper .last-items {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.75rem;
  row-gap: 0.35rem;
}
main .windows-panel .icons-wrapper .last-items .item {
  display: flex;
  padding: 0.45rem 0.35rem;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  gap: 0.35rem;
  transition: all ease-in-out 0.2s;
}
main .windows-panel .icons-wrapper .last-items .item img {
  width: 2rem;
}
main .windows-panel .icons-wrapper .last-items .item:hover {
  background-color: rgba(196, 196, 196, 0.096);
}
main .windows-panel .icons-wrapper .last-items .item .text {
  display: flex;
  flex-direction: column;
  font-size: 0.76rem;
}
main .windows-panel .icons-wrapper .last-items .item .text span:last-child {
  color: rgba(206, 195, 195, 0.952);
  font-size: 0.73rem;
}
main .windows-panel .footer {
  padding: 0.55rem 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main .windows-panel .footer .user-details {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.67rem;
}
main .windows-panel .footer .user-details img {
  width: 2rem;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}
main .windows-panel .footer .footer-icons {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}

.hide {
  display: none;
}

div.right-click-card {
  font-family: sans-serif;
  z-index: 2;
  width: 200px;
  position: fixed;
  right: 40px;
  top: 40px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: white;
  background-color: rgba(255, 255, 255, 0.096);
  padding: 0.25rem;
  border-radius: 0.4rem;
}
div.right-click-card ul {
  width: 100%;
  list-style-type: none;
}
div.right-click-card ul li {
  padding: 0.5rem;
  border-radius: 0.3rem;
}
div.right-click-card ul li:hover {
  background-color: rgba(0, 1, 59, 0.61);
  cursor: pointer;
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */