* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.main-wrapper {
  height: 100%;
  width: 100%;
}



.mens {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  background-color: blue;
  border-radius: 1rem;
  font-size: 2rem;
}

.womens {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  background-color: pink;
  border-radius: 1rem;
  font-size: 2rem;
}